.sign-in{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-l);
  min-height: 80svh;
}
.login-btn{
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--sp-m);
  border: none;
  background-color: var(--c-w);
  box-shadow: var(--bx-s-2);
  border-radius: var(--br-10);
  transition: var(--transition-3);
}
.login-btn:active{
  scale: 0.95;
}
.login-icon{
  width: 50px;
  height: 50px;
  object-fit: contain;
  padding: var(--sp-s);
}
.policies{
  display: flex;
  gap: var(--sp-s);
}
.login-policy-link{
  color: blue;
  text-decoration: underline;
  font-size: var(--fs-m);
}

@media screen and (max-width: 767px) {
  .login-policy-link{
    font-size: var(--fs-s);
  }
}