.password-reset-wrapper{
  padding: var(--sp-l);
}
.password-reset-wrapper form{
  display: grid;
  max-width: 300px;
  gap: var(--sp-s);
}
.password-reset-wrapper form *{
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border: 1px solid var(--c-s);
  padding: 10px;
  font-size: 16px;
}
.password-reset-wrapper form button{
  background-color: var(--c-p);
  color: var(--c-w);
  letter-spacing: 2px;
  font-weight: 700;
}
.password-reset-wrapper form button:active{
  scale: .9;
}