.countDonwTimer{
  width: 100%;
  height: 100dvh;
  display: grid;
  place-items: center;
  position: absolute;
}
.down-layer{
  width: 100%;
  height: 100dvh;
  text-align: center;
}
.down-layer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.top-layer{
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100dvh;
  display: grid;
  place-items: center;
  position: absolute;
}
.main-count-logo{
  width: 400px;
  height: 100px;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.main-count-logo img{
  width: 100%;
  height: 100%;
}
.main-countdown{
  width: 100%;
  letter-spacing: 1rem;
  text-align: center;
  color: white;
  font-size: 5rem;
  font-weight: 700;
}


@media screen and (max-width: 700px) {
  .main-count-logo{
    width: 200px;
    height: 50px;
  }
  .main-countdown{
    color: white;
    font-size: 3rem;
  }
}