
.layout{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.main{
  margin-top: var(--nav-h);
  width: 100%;
  height: auto;
  /* padding: var(--sp-s); */
}
.copyrights{
  color: var(--c-t);
  font-size: 12px;
  width: 100%;
  padding: var(--sp-s);
}
.dev span{
  font-weight: var(--fw-7);
  letter-spacing: 2px;
}
/* loading sceen */
.loading-screen{
  width: 100svw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c-p);
  position: fixed;
  gap: var(--sp-m);
  top: 0;
  left: 0;
  z-index: 10;
}
.loading-screen-1{
  min-height: 100svh;;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

/* home banner */
.home-banner{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.home-banner-wrapper{
  width: 100%;
  height: 100%;
}
.home-banner-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  .home-banner-wrapper{
    height: 100vh;
  }
}




/* elements */
.btn-buy-white{
  border: 1px solid var(--c-s);
  padding: var(--sp-s) var(--sp-m);
  border-radius: var(--br-5);
  background-color: var(--c-w);
  font-size: var(--fs-l);
  font-weight: var(--fw-7);
  color: var(--c-p);
  cursor: pointer;
  transition: var(--transition-3);
}
.btn-buy-white:hover{
  background-color: var(--c-bg);
}
.btn-buy-white:active{
  scale: .95;
}

.btn-buy-black{
  border: 1px solid var(--c-p);
  padding: var(--sp-s) var(--sp-m);
  border: none;
  border-radius: var(--br-5);
  background-color: var(--c-p);
  font-size: var(--fs-l);
  font-weight: var(--fw-7);
  color: var(--c-w);
  cursor: pointer;
  transition: var(--transition-3);
}
.btn-buy-black:hover{
  background-color: var(--c-s);
}
.btn-buy-black:active{
  scale: .95;
}

.selected-btn{
  border: none;
  background-color: var(--c-bg);
  color: var(--c-p);
}
.selected-btn:hover{
  border: none;
  background-color: var(--c-bg);
  color: var(--c-p);
}

.section-header{
  padding: var(--sp-m);
  font-size: var(--fs-xl);
  font-weight: var(--fw-7);
  color: var(--c-s);
}

.hr-tag{
  width: 300px;
  height: 1px;
  background-color: var(--c-t);
}



/*! ========== HOME PAGE ========== */
.home-page{
  width: 100%;
  height: auto;
  background-color: var(--c-w);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-m);
  padding: var(--sp-s);
  margin: var(--sp-s) 0;
}

/*! hero section  */
.hero-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  gap: var(--sp-m);
}
.discount-cards{
  display: flex;
  gap: var(--sp-s);
  width: 100%;
}

/** current discount  */
.current-discount{
  padding: var(--sp-m);
  background-color: var(--c-p);
  border-radius: var(--br-20);
  color: var(--c-w);
  width: 50%;
  position: relative;
}
.hero-icon{
  position: absolute;
  width: 150px;
  right: 20px;
  bottom: 20px;
}
.heading{
  font-size: var(--fs-xl);
  font-weight: var(--fw-4);
  letter-spacing: 2px;
}
.sale-countdown{
  font-size: var(--fs-l);
  font-weight: var(--fw-4);
  padding-bottom: var(--sp-m);
  letter-spacing: 2px;
}

/* * upcomming-event */
.upcomming-event{
  padding: var(--sp-m);
  background-color: var(--c-p);
  border-radius: var(--br-20);
  color: var(--c-w);
  display: flex;
  flex-direction: column;
  gap: var(--sp-s);
}
.upcomming-event-header{
  font-size: var(--fs-m);
  letter-spacing: 2px;
}
.upcomming-event-title{
  font-size: var(--fs-xl);
  letter-spacing: 2px;
}

/** hero banner */
.hero-product-banners{
  display: flex;
  align-items: center;
  width: 70%;
  height: auto;
}
.hero-banner{
  object-fit: contain;
  width: 100%;
  height: 100%;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hero-section{
    gap: var(--sp-m);
  }
  .discount-cards{
    width: 100%;
  }
  .hero-product-banners{
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  /* .home-page{
    margin-top: var(--nav-h);
  } */
  .hero-icon{
   width: 100px; 
  }
  .sale-countdown{
    font-size: var(--fs-m);
    max-width: 300px;
  }
  .discount-cards{
    display: flex;
    flex-direction: column;
    gap: var(--sp-s);
    width: 100%;
  }
  
  /** current discount  */
  .current-discount{
    width: 100%;
  }
  .hero-product-banners{
    width: 100%;
  }
}


/*! ========== PRODUCTS PAGE ========== */
.products-sub-categories-wrapper{
  width: 100%;
}
.products-sub-categories{
  display: flex;
  flex-wrap: wrap;
  gap: var(--sp-s);
}
.all-products{
  min-height: 100svh;
  padding: var(--sp-s);
  display: flex;
  flex-wrap: wrap;
  gap: var(--sp-s);
}


/** ========== SUCCESS ========== */
.success-wrapper{
  width: 100%;
  height: 60svh;
  display: grid;
  place-items: center;
}


/* ========== MAIN PADDING ========== */
.products-page,
.single-product,
.single-product-container,
.cart-wrapper,
.profile-page,
.sign-in{
  padding: var(--sp-s);
}